/* **********HOME PAGE*************** */
h1 {
    text-align: center;
}


/* **********SEARCH PAGE*************** */

.search {
    margin: 5rem;
}


/* **********FAVORITES PAGE*************** */

.favorite {
    margin: 5rem;
}


