/* **********HOME PAGE*************** */
h1 {
    text-align: center;
}

/* **********SEARCH PAGE*************** */
#sign {
    margin-top: 5rem;
    margin-bottom: -4rem;
}


/* **********SEARCH PAGE*************** */

.search {
    margin: 5rem;
}


/* **********FAVORITES PAGE*************** */

.favorite {
    margin: 5rem;
}


