
.search {
    min-height: 20vh;
    /* display: flex; */
    font-weight: 400;
    justify-content: center;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    margin: 6rem;
    padding: 1rem;
    border-radius: 15px;
}

.btn {
    margin: 1rem;
}