/**************FOOTER COMPONENT****************/
.footer {
    padding: 1rem;
  }
  
  .footer p {
    margin: 1rem;
    /* padding: 1rem; */
    font-size: 1rem;
    justify-content: center;
  }
  
  .copyright {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
  }
  
  .icon  {
    margin: 1rem;
    padding: 1rem;
  }