/**************FOOTER COMPONENT****************/
.footer {
    padding: 2rem;
    margin-top: -6rem;
    /* background: url('../../img/hops-background.png') no-repeat;
    background-size: cover;
    background-position: center; */
    background-color: #ecf1cb;
  }
  
  .footer p {
    margin: 1rem;
    /* padding: 1rem; */
    font-size: 1rem;
    justify-content: center;
    color: black;
  }
  
  .copyright {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
  }
  
  .icon  {
    margin: 1rem;
    padding: 1rem;
  }

  /* .logo {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
  } */

  
