/* *************LOGIN*************** */

.login {
    min-height: 50vh;
    display: flex;
    font-weight: 400;
    justify-content: center;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    margin: 5rem;
    padding: 2rem;
    border-radius: 15px;
  }
  
  .form-group {
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
    /* margin: 3rem; */
  }
  
  .forgot-link {
    text-align: center;
    padding-top: 1rem;
  }