/* *********NAVBAR*********** */

.app-logo {
  height: 170px;
  width: 170px;
  margin-top: -2rem;
  margin-bottom: -3.5rem;
}

.navbar {
  background-color: white;
}

.col {
  text-align: center;
}

.nav-item {
  margin-right: auto;
}

#user {
  text-align: right;
}
